# Base de datos
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/bluepixel"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="cambia-esto-por-un-secreto-largo-y-aleatorio"

# Entorno
NODE_ENV="development"